{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2>Welcome, {{ voter.name.name }}</h2>
  <h2>OTP Sent To {{voter.name.mail}}</h2>
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="otp" class="form-label">OTP</label>
      <input type="text" class="form-control" name="otp" required>
    </div>
    <button class="btn btn-success">Verify</button>
      <a href="{% url "verify_voter" voter.election.id %}" class="btn btn-outline-success">Return to Home</a>
  </form>
</div>
{% endblock %}
